html{
	 font-family: Arial;
     margin: 0 auto;

}
body{
	   width:100% ;
	   height: 800px;
	}
h1      {
	       height: 700px;
           width:10%; 
           background-color: deepskyblue;
           float: left;
           text-align: center;
	       color: white;
        }
#container {
 	        width: 88%;
 	        height: 700px;
 	        float: right;
 }
.head{
	font-weight: bold;
}
#con1 .head,#con2 .head{
	margin-right:0.4em; 
}
#con1 .head+span,#con2 .head+span{margin-right:1.5em;}
#con3 .head+span,#con4 .head+span,#con5 .head+span{
    display: block;
}
