html{
	 font-family: Arial;
     margin: 0;

}
body{
	   width:90% ;
	   height: 800px;
	}
h1      {
	       height: 800px;
           width:10%; 
           background-color: skyblue;
           float: left;
           text-align: center;
	       color: white;
        }
#container {
 	        width: 88%;
 	        height: 800px;
 	        float: right;
 }
.head{
	font-weight: bold;
}
#con1 .head,#con2 .head{
	margin-right:0.4em; 
}
.head+span{
    margin-right:1.5em;
}
.head+p{
	margin-top:-1em;
}